name: Main

on:
  push:
    branches: [main]
  pull_request:
    branches: [main]

jobs:
  build-validate-pref-tests:
    name: Build, validate & run performance tests
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Setup Node.js
        uses: actions/setup-node@v4
        with:
          node-version: 18.x
          cache: 'yarn'

      - name: Install and build
        run: yarn install

      - name: Run tests
        run: yarn test

      - name: Run performance tests
        run: ./reassure-tests.sh

      - name: Run Danger.js
        run: yarn danger ci
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
